<div class="main">
  <table class="table table-hover">
    <thead>
      <th><strong>Step name</strong></th>
      <th><strong>Notes</strong></th>
      <th><strong>Done?</strong></th>
      <th><strong>Due date</strong></th>
    </thead>
    <tbody>
      <% _(steps).each(function(step) { %>
        <tr data-id="<%= step.id %>">
          <td>
            <a href="#api/steps/<%= step.id %>">
              <%= step.escape('name') %>
            </a>
          </td>
          <td><%= step.escape('notes') %></td>
          <td><%= step.escape('completed') %></td>
          <td><%= step.escape('completion_date') %></td>
          <td>
            <a href="#api/projects/<%= step.escape('project_id') %>/edit">
              Edit
            </a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>